  .border {
   margin:20;
   padding:10;
  }

  body{
    background-color:#FFFFFF;
  }

  .fondo{
    background-color:#DBD8D6;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }